﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div>
        <p>Send a message to the iframe:</p>
        <input id="MessageText" type="text" name="messageText">
        <p><a id="MessageButton" href="#" class="btn btn-primary btn-lg">SendMessage</a></p>
    </div>
    <br />
</div>

<div class="row">
    <iframe class="col-md-12" style="min-height: 800px" src="https://pedropontes.outsystemscloud.com/HelloApp/Home.aspx?_ts=636385088921598278"></iframe>
</div>